@use "_base";
@use "_mixins";

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/Multimedia/image_sass.webp);
  background-size: cover;
}
@for $i from 1 through 3 {
  $delay: calc($i * 2 - 1);
  div:nth-child(#{$i}) {
    @include mixins.animate(padaj#{i}, $delay);
  }
  @include mixins.keyframes(padaj#{i}) {
    0% {
      top: -60vh;
    }
    100% {
      top: 0px;
    }
  }
}

div {
  @include mixins.boxCommon($color: blue);
}
