* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: bisque;
}

h1 {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.wrapper {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.box-1 {
  flex-basis: 48%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
}

.box-2 {
  flex-basis: 48%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
}

ol {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  background-color: coral;
}
