* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(208, 185, 156);
}

header:first-of-type {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* ====== 1. 2D TRANSFORMATIONS ====== */

/*  Property je --transform--, a funkcije su:
a) translate();
b) rotate();
c) scaleX();
d) scaleY();
e) scale();
f) skewX();
g) skewY();
h) skew();
i) matrix();
https://ivan-turk.github.io/linux_repo/https://ivan-turk.github.io/linux_repo/
*/

.box-1 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(138, 131, 27);
  transform: translate(50px, 100px);
}

.box-2 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(138, 131, 27);
  transform: rotate(-7deg);
}

.box-3 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(138, 131, 27);
  transform: scale(2, 1);
}

.box-4 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(138, 131, 27);
  transform: skewY(20deg);
}

.box-5 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(138, 131, 27);
  transform: matrix(1, -0.3, 0, 1, 0, 0);
}

/* ====== 2. 3D TRANSFORMATIONS ====== */

.box-6 {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: rgb(38, 146, 180);
  transform: rotateZ(20deg);
}

button {
  width: 100px;
  height: 50px;
  box-shadow: 16px 12px 16px black;
}
