* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(208, 185, 156);
}

header:first-of-type {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  gap: 10px;
}

.wrapper div {
  background-color: rgb(21, 145, 208);
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid black;
}

.box-1 {
  animation: animation1 1s infinite;
}

@keyframes animation1 {
  0% {
    transform: scale(100%);
    background-color: rgb(21, 145, 208);
  }
  50% {
    transform: scale(125%);
    background-color: rgb(135, 213, 252);
  }
  100% {
    transform: scale(100%);
    background-color: rgb(21, 145, 208);
  }
}

.box-2 {
  animation: animation2 3s linear infinite;
}

@keyframes animation2 {
  0% {
    transform: scale(100%) translate(0, 0) rotate(0deg);
  }
  50% {
    transform: scale(50%) translate(0, 400px) rotate(360deg);
  }
  100% {
    transform: scale(100%) translate(0, 0) rotate(0deg);
  }
}

.box-3 {
  animation: animation3 2s linear infinite;
}

@keyframes animation3 {
  0% {
    transform: rotate(0);
    border-radius: 100%;
  }
  50% {
    transform: rotate(180deg);
    border-radius: 0%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 100%;
  }
}

.box-4 {
  animation: animation4 1s ease-in-out infinite;
}

@keyframes animation4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.box-4:hover {
  animation-play-state: paused;
}

.box-5 {
  animation: animation5 3s ease-in-out infinite;
}

@keyframes animation5 {
  0% {
    top: 0;
  }
  25% {
    top: 600px;
    background-color: rgb(125, 199, 231);
  }
  50% {
    background-color: rgb(83, 202, 194);
    transform: rotate(360deg);
  }
  75% {
    top: 600px;
    background-color: rgb(179, 222, 236);
  }
  100% {
    top: 0;
  }
}

button {
  width: 100px;
  height: 50px;
  box-shadow: 16px 12px 16px black;
  transition: width 1s;
  animation: button 1s linear infinite;
}

@keyframes button {
  0% {
    transform: scale(100%);
    background-color: rgb(208, 185, 156);
  }
  50% {
    transform: scale(125%);
    background-color: rgb(211, 155, 86);
  }
  100% {
    transform: scale(100%);
    background-color: rgb(208, 185, 156);
  }
}

button:hover {
  width: 200px;
  animation-play-state: paused;
}
